---
# SQLAlchemy Practice

## THe first cell does the imports and connects to the database

In [11]:
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.orm import Session

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:aqua666@localhost:5432/practice', echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-15 09:16:12,342 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-15 09:16:12,342 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 09:16:12,343 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-15 09:16:12,343 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 09:16:12,344 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-15 09:16:12,344 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 09:16:12,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 09:16:12,345 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-15 09:16:12,345 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
[('hello world',)]
2023-03-15 09:16:12,346 INFO sqlalchemy.engine.Engine ROLLBACK

---
## Build the table
### *style:* Commit as you go

In [ ]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE xy_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

---
## Insert first values
### *style:* Begin once

In [2]:
"begin once"
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

### Query All

In [14]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-15 09:16:36,463 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 09:16:36,464 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table
2023-03-15 09:16:36,464 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {}
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 11  y: 12
x: 9  y: 11
x: 13  y: 15
2023-03-15 09:16:36,465 INFO sqlalchemy.engine.Engine ROLLBACK

### Query sending many parameters
multiple parameters are pas as a list of dictionaries

In [5]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

2023-03-13 21:52:11,018 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-13 21:52:11,018 INFO sqlalchemy.engine.Engine INSERT INTO xy_table (x, y) VALUES (%(x)s, %(y)s)
2023-03-13 21:52:11,019 INFO sqlalchemy.engine.Engine [generated in 0.00081s] [{'x': 11, 'y': 12}, {'x': 13, 'y': 14}]
2023-03-13 21:52:11,020 INFO sqlalchemy.engine.Engine COMMIT

## ORM Query

In [7]:
from sqlalchemy.orm import Session

In [9]:

stmt = text("SELECT x, y FROM xy_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-13 21:54:59,888 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-13 21:54:59,889 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table WHERE y > %(y)s ORDER BY x, y
2023-03-13 21:54:59,889 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'y': 6}
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2023-03-13 21:54:59,894 INFO sqlalchemy.engine.Engine ROLLBACK

## Experimentation with result object
type = CursorResult

In [5]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table"))
    print('----------------------------------')
    print(f'type(result) = f{type(result)}')

2023-03-15 07:54:06,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 07:54:06,870 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table
2023-03-15 07:54:06,870 INFO sqlalchemy.engine.Engine [cached since 697.8s ago] {}
----------------------------------
type(result) = f<class 'sqlalchemy.engine.cursor.CursorResult'>
2023-03-15 07:54:06,871 INFO sqlalchemy.engine.Engine ROLLBACK

### Using WHERE in SQL

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table WHERE y > :y"), {"y": 7})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-15 08:46:22,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 08:46:22,831 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table WHERE y > %(y)s
2023-03-15 08:46:22,831 INFO sqlalchemy.engine.Engine [cached since 14.17s ago] {'y': 7}
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2023-03-15 08:46:22,832 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE xy_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

2023-03-15 09:16:27,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 09:16:27,091 INFO sqlalchemy.engine.Engine UPDATE xy_table SET y=%(y)s WHERE x=%(x)s
2023-03-15 09:16:27,091 INFO sqlalchemy.engine.Engine [generated in 0.00032s] [{'y': 11, 'x': 9}, {'y': 15, 'x': 13}]
2023-03-15 09:16:27,095 INFO sqlalchemy.engine.Engine COMMIT