---
# SQLAlchemy Practice

## THe first cell does the imports and connects to the database

In [1]:
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.orm import Session

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:aqua666@localhost:5432/practice', echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-21 12:44:54,099 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-21 12:44:54,100 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-21 12:44:54,103 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-21 12:44:54,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-21 12:44:54,104 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-21 12:44:54,104 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-21 12:44:54,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:44:54,105 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-21 12:44:54,106 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
[('hello world',)]
2023-03-21 12:44:54,106 INFO sqlalchemy.engine.Engine ROLLBACK

---
## Build the table
### *style:* Commit as you go

In [2]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE xy_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

2023-03-21 12:45:03,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:03,128 INFO sqlalchemy.engine.Engine CREATE TABLE xy_table (x int, y int)
2023-03-21 12:45:03,128 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {}
2023-03-21 12:45:03,134 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "xy_table" already exists

[SQL: CREATE TABLE xy_table (x int, y int)]
(Background on this error at: https://sqlalche.me/e/20/f405)

---
## Insert first values
### *style:* Begin once

In [3]:
"begin once"
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

2023-03-21 12:45:08,494 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:08,495 INFO sqlalchemy.engine.Engine INSERT INTO xy_table (x, y) VALUES (%(x)s, %(y)s)
2023-03-21 12:45:08,495 INFO sqlalchemy.engine.Engine [generated in 0.00051s] [{'x': 6, 'y': 8}, {'x': 9, 'y': 10}]
2023-03-21 12:45:08,501 INFO sqlalchemy.engine.Engine COMMIT

### Query All

In [4]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-21 12:45:12,575 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:12,575 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table
2023-03-21 12:45:12,576 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {}
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 11  y: 12
x: 9  y: 11
x: 13  y: 15
x: 6  y: 8
x: 9  y: 10
2023-03-21 12:45:12,577 INFO sqlalchemy.engine.Engine ROLLBACK

### Query sending many parameters
multiple parameters are pas as a list of dictionaries

In [5]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO xy_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

2023-03-21 12:45:15,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:15,500 INFO sqlalchemy.engine.Engine INSERT INTO xy_table (x, y) VALUES (%(x)s, %(y)s)
2023-03-21 12:45:15,500 INFO sqlalchemy.engine.Engine [cached since 7.005s ago] [{'x': 11, 'y': 12}, {'x': 13, 'y': 14}]
2023-03-21 12:45:15,501 INFO sqlalchemy.engine.Engine COMMIT

## ORM Query

In [6]:
from sqlalchemy.orm import Session

In [7]:

stmt = text("SELECT x, y FROM xy_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-21 12:45:19,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:19,257 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table WHERE y > %(y)s ORDER BY x, y
2023-03-21 12:45:19,258 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {'y': 6}
x: 6  y: 8
x: 6  y: 8
x: 9  y: 10
x: 9  y: 11
x: 11  y: 12
x: 11  y: 12
x: 13  y: 14
x: 13  y: 15
2023-03-21 12:45:19,259 INFO sqlalchemy.engine.Engine ROLLBACK

## Experimentation with result object
type = CursorResult

In [8]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table"))
    print('----------------------------------')
    print(f'type(result) = f{type(result)}')

2023-03-21 12:45:21,492 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:21,493 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table
2023-03-21 12:45:21,493 INFO sqlalchemy.engine.Engine [cached since 8.919s ago] {}
----------------------------------
type(result) = f<class 'sqlalchemy.engine.cursor.CursorResult'>
2023-03-21 12:45:21,494 INFO sqlalchemy.engine.Engine ROLLBACK

### Using WHERE in SQL

In [9]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM xy_table WHERE y > :y"), {"y": 7})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

2023-03-21 12:45:25,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:25,813 INFO sqlalchemy.engine.Engine SELECT x, y FROM xy_table WHERE y > %(y)s
2023-03-21 12:45:25,813 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {'y': 7}
x: 6  y: 8
x: 11  y: 12
x: 9  y: 11
x: 13  y: 15
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2023-03-21 12:45:25,814 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE xy_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}],
    )
    session.commit()

2023-03-21 12:45:35,769 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 12:45:35,770 INFO sqlalchemy.engine.Engine UPDATE xy_table SET y=%(y)s WHERE x=%(x)s
2023-03-21 12:45:35,770 INFO sqlalchemy.engine.Engine [generated in 0.00040s] [{'y': 11, 'x': 9}, {'y': 15, 'x': 13}]
2023-03-21 12:45:35,774 INFO sqlalchemy.engine.Engine COMMIT

# dictionary practice

In [6]:
my_dict = {}
my_dict["jeff"] = 17
key = 'melanie'
my_dict[key] = 22

In [7]:
my_dict

{'jeff': 17, 'melanie': 22}