---
# Metadata practice

In [1]:
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.orm import Session

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:aqua666@localhost:5432/practice', echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-15 14:13:12,274 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-15 14:13:12,275 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:13:12,276 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-15 14:13:12,276 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:13:12,277 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-15 14:13:12,277 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:13:12,278 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:13:12,278 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-15 14:13:12,279 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {}
[('hello world',)]
2023-03-15 14:13:12,279 INFO sqlalchemy.engine.Engine ROLLBACK

In [2]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String, DateTime
import datetime
metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
    Column('created_ts', DateTime(timezone=True))
)

In [3]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

In [4]:
user_table.c.keys()

['id', 'name', 'fullname', 'created_ts']

In [5]:
from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
)

---
# Create all of the tables

In [6]:
metadata_obj.create_all(engine)

2023-03-15 14:13:20,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:13:20,525 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-15 14:13:20,526 INFO sqlalchemy.engine.Engine [generated in 0.00047s] {'table_name': 'user_account', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-15 14:13:20,528 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-15 14:13:20,528 INFO sqlalchemy.engine.Engine [cached since 0.00307s ago] {'table_name': 'address', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-15 14:13:20,529 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id SERIAL NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	created_ts TIMESTAMP WITH TIME ZONE,
	PRIMARY KEY (id)
)


2023-03-15 14:13:20,530 INFO sqlalchemy.engine.Engine [no key 0.00035s] {}
2023-03-15 14:13:20,539 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id SERIAL NOT NULL,
	user_id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2023-03-15 14:13:20,541 INFO sqlalchemy.engine.Engine [no key 0.00058s] {}
2023-03-15 14:13:20,545 INFO sqlalchemy.engine.Engine COMMIT

## INSERT

In [7]:
from sqlalchemy import insert
import datetime
import pytz

stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants", created_ts = datetime.datetime.now( pytz.timezone("US/Pacific") ))

In [8]:
print(stmt)
compiled = stmt.compile()
compiled.params

INSERT INTO user_account (name, fullname, created_ts) VALUES (:name, :fullname, :created_ts)

{'name': 'spongebob',
 'fullname': 'Spongebob Squarepants',
 'created_ts': datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=<DstTzInfo 'US/Pacific' PDT-1 day, 17:00:00 DST>)}

###  commit the insert statement

In [9]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

2023-03-15 14:13:28,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:13:28,080 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname, created_ts) VALUES (%(name)s, %(fullname)s, %(created_ts)s) RETURNING user_account.id
2023-03-15 14:13:28,080 INFO sqlalchemy.engine.Engine [generated in 0.00109s] {'name': 'spongebob', 'fullname': 'Spongebob Squarepants', 'created_ts': datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=<DstTzInfo 'US/Pacific' PDT-1 day, 17:00:00 DST>)}
2023-03-15 14:13:28,082 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
import datetime
import pytz

date = datetime.datetime.now( pytz.timezone("US/Pacific") )

In [11]:
timestamp = datetime.datetime.now( pytz.timezone("US/Pacific"))

with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks", "created_ts": timestamp},
            {"name": "patrick", "fullname": "Patrick Star", "created_ts": timestamp},
        ],
    )
    conn.commit()

2023-03-15 14:13:31,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:13:31,843 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname, created_ts) VALUES (%(name__0)s, %(fullname__0)s, %(created_ts__0)s), (%(name__1)s, %(fullname__1)s, %(created_ts__1)s)
2023-03-15 14:13:31,843 INFO sqlalchemy.engine.Engine [generated in 0.00061s (insertmanyvalues)] {'fullname__0': 'Sandy Cheeks', 'name__0': 'sandy', 'created_ts__0': datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=<DstTzInfo 'US/Pacific' PDT-1 day, 17:00:00 DST>), 'fullname__1': 'Patrick Star', 'name__1': 'patrick', 'created_ts__1': datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=<DstTzInfo 'US/Pacific' PDT-1 day, 17:00:00 DST>)}
2023-03-15 14:13:31,844 INFO sqlalchemy.engine.Engine COMMIT

## more complex multi-teired insert

In [12]:
from sqlalchemy import select, bindparam
scalar_subq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {
                "username": "spongebob",
                "email_address": "spongebob@sqlalchemy.org",
            },
            {"username": "sandy", "email_address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@squirrelpower.org"},
        ],
    )
    conn.commit()

2023-03-15 14:13:55,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:13:55,851 INFO sqlalchemy.engine.Engine INSERT INTO address (user_id, email_address) VALUES ((SELECT user_account.id
FROM user_account
WHERE user_account.name = %(username__0)s), %(email_address__0)s), ((SELECT user_account.id
FROM user_account
WHERE user_account.name = %(username__1)s), %(email_address__1)s), ((SELECT user_account.id
FROM user_account
WHERE user_account.name = %(username__2)s), %(email_address__2)s)
2023-03-15 14:13:55,852 INFO sqlalchemy.engine.Engine [generated in 0.00064s (insertmanyvalues)] {'email_address__0': 'spongebob@sqlalchemy.org', 'username__0': 'spongebob', 'email_address__1': 'sandy@sqlalchemy.org', 'username__1': 'sandy', 'email_address__2': 'sandy@squirrelpower.org', 'username__2': 'sandy'}
2023-03-15 14:13:55,853 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
from sqlalchemy import select
stmt = select(user_table).where(user_table.c.name == "spongebob")
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
WHERE user_account.name = :name_1

In [14]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2023-03-15 14:14:01,715 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:14:01,716 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
WHERE user_account.name = %(name_1)s
2023-03-15 14:14:01,716 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {'name_1': 'spongebob'}
(1, 'spongebob', 'Spongebob Squarepants', datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))
2023-03-15 14:14:01,717 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
print(select(user_table))

SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account

In [18]:
print(select(user_table.c.name, user_table.c.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [20]:
print(select(user_table.c["name", "fullname"]))

SELECT user_account.name, user_account.fullname
FROM user_account

In [22]:
from sqlalchemy import func, cast
stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

2023-03-15 14:29:39,942 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:29:39,943 INFO sqlalchemy.engine.Engine SELECT %(name_1)s || user_account.name AS username
FROM user_account ORDER BY user_account.name
2023-03-15 14:29:39,944 INFO sqlalchemy.engine.Engine [cached since 38.2s ago] {'name_1': 'Username:: '}
Username:: patrick
Username:: sandy
Username:: spongebob
2023-03-15 14:29:39,945 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
from sqlalchemy import text
stmt = select(text("'some phrase'"), user_table.c.name).order_by(user_table.c.name)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

2023-03-15 14:45:48,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:45:48,780 INFO sqlalchemy.engine.Engine SELECT 'some phrase', user_account.name
FROM user_account ORDER BY user_account.name
2023-03-15 14:45:48,780 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}
[('some phrase', 'patrick'), ('some phrase', 'sandy'), ('some phrase', 'spongebob')]
2023-03-15 14:45:48,781 INFO sqlalchemy.engine.Engine ROLLBACK

In [24]:
print(stmt)

SELECT 'some phrase', user_account.name
FROM user_account ORDER BY user_account.name

In [25]:
from sqlalchemy import literal_column
stmt = select(literal_column("'some phrase'").label("p"), user_table.c.name).order_by(
    user_table.c.name
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

2023-03-15 14:47:18,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:47:18,397 INFO sqlalchemy.engine.Engine SELECT 'some phrase' AS p, user_account.name
FROM user_account ORDER BY user_account.name
2023-03-15 14:47:18,398 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {}
some phrase, patrick
some phrase, sandy
some phrase, spongebob
2023-03-15 14:47:18,399 INFO sqlalchemy.engine.Engine ROLLBACK

## WHERE

In [28]:
print(user_table.c.name == "sandy")

print(address_table.c.user_id > 10)

user_account.name = :name_1
address.user_id > :user_id_1

In [30]:
print(
    select(address_table.c.email_address)
    .where(user_table.c.name == "sandy")
    .where(address_table.c.user_id == user_table.c.id)
)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [41]:
stmt =  select(address_table.c.email_address).where(
    user_table.c.name == "sandy",
    address_table.c.user_id == user_table.c.id,
)
print(stmt)

SELECT address.email_address
FROM address, user_account
WHERE user_account.name = :name_1 AND address.user_id = user_account.id

In [47]:
def execute_statement (stmt):
    with engine.connect() as conn:
        for row in conn.execute(stmt):
            print(row)

In [44]:
print(select(user_table.c.name))

SELECT user_account.name
FROM user_account

In [45]:
print(select(user_table.c.name, address_table.c.email_address))

SELECT user_account.name, address.email_address
FROM user_account, address

In [51]:
stmt=select(user_table.c.name, address_table.c.email_address).join(address_table)
print(stmt)

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [49]:
execute_statement(stmt)

2023-03-15 15:20:53,748 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 15:20:53,749 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id
2023-03-15 15:20:53,749 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {}
('spongebob', 'spongebob@sqlalchemy.org')
('sandy', 'sandy@sqlalchemy.org')
('sandy', 'sandy@squirrelpower.org')
2023-03-15 15:20:53,750 INFO sqlalchemy.engine.Engine ROLLBACK

In [50]:
print(select(user_table.c.name, address_table.c.email_address).join(address_table))

SELECT user_account.name, address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [54]:
stmt = select(address_table.c.email_address).select_from(user_table).join(address_table)
print(stmt)

SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id

In [55]:
execute_statement(stmt)

2023-03-15 15:22:36,098 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 15:22:36,099 INFO sqlalchemy.engine.Engine SELECT address.email_address
FROM user_account JOIN address ON user_account.id = address.user_id
2023-03-15 15:22:36,099 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {}
('spongebob@sqlalchemy.org',)
('sandy@sqlalchemy.org',)
('sandy@squirrelpower.org',)
2023-03-15 15:22:36,100 INFO sqlalchemy.engine.Engine ROLLBACK

In [56]:
from sqlalchemy import func
stmt = select(func.count("*")).select_from(user_table)
print(stmt)

SELECT count(:count_2) AS count_1
FROM user_account

In [57]:
execute_statement(stmt)

2023-03-15 15:24:07,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 15:24:07,667 INFO sqlalchemy.engine.Engine SELECT count(%(count_2)s) AS count_1
FROM user_account
2023-03-15 15:24:07,667 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {'count_2': '*'}
(3,)
2023-03-15 15:24:07,668 INFO sqlalchemy.engine.Engine ROLLBACK

In [67]:
stmt = select(user_table, address_table.c.email_address).join(address_table, isouter=True)
stmt2=select(user_table).join(address_table, full=True)

In [68]:
execute_statement(stmt)

2023-03-15 15:31:04,319 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 15:31:04,320 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts, address.email_address
FROM user_account LEFT OUTER JOIN address ON user_account.id = address.user_id
2023-03-15 15:31:04,321 INFO sqlalchemy.engine.Engine [generated in 0.00154s] {}
(1, 'spongebob', 'Spongebob Squarepants', datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))), 'spongebob@sqlalchemy.org')
(2, 'sandy', 'Sandy Cheeks', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))), 'sandy@sqlalchemy.org')
(2, 'sandy', 'Sandy Cheeks', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))), 'sandy@squirrelpower.org')
(3, 'patrick', 'Patrick Star', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))), None)
2023-03-15 15:31:04,322 INFO sqlalchemy.engine.Engine ROLLBACK

In [62]:
execute_statement(stmt2)

2023-03-15 15:28:46,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 15:28:46,948 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account FULL OUTER JOIN address ON user_account.id = address.user_id
2023-03-15 15:28:46,948 INFO sqlalchemy.engine.Engine [generated in 0.00113s] {}
(1, 'spongebob', 'Spongebob Squarepants', datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))
(2, 'sandy', 'Sandy Cheeks', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))
(2, 'sandy', 'Sandy Cheeks', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))
(3, 'patrick', 'Patrick Star', datetime.datetime(2023, 3, 15, 14, 13, 31, 841558, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))
2023-03-15 15:28:46,949 INFO sqlalchemy.engine.Engine ROLLBACK