---
# Metadata practice

In [2]:
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.orm import Session

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:aqua666@localhost:5432/practice', echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-17 07:55:38,691 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-17 07:55:38,693 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,694 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-17 07:55:38,694 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,695 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-17 07:55:38,695 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-17 07:55:38,697 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-17 07:55:38,697 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
[('hello world',)]
2023-03-17 07:55:38,697 INFO sqlalchemy.engine.Engine ROLLBACK
2023-03-17 07:55:38,733 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-17 07:55:38,734 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,734 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-17 07:55:38,735 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,735 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-17 07:55:38,736 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-17 07:55:38,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-17 07:55:38,736 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-17 07:55:38,737 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
[('hello world',)]
2023-03-17 07:55:38,737 INFO sqlalchemy.engine.Engine ROLLBACK

In [3]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String, DateTime
import datetime
metadata_obj = MetaData()

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
    Column('created_ts', DateTime(timezone=True))
)

In [4]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

In [5]:
user_table.c.keys()

['id', 'name', 'fullname', 'created_ts']

In [6]:
from sqlalchemy import ForeignKey
address_table = Table(
    "address",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("user_id", ForeignKey("user_account.id"), nullable=False),
    Column("email_address", String, nullable=False),
)

---
# Create all of the tables

In [12]:
metadata_obj.create_all(engine)

2023-03-17 08:22:51,801 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-17 08:22:51,804 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-17 08:22:51,804 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {'table_name': 'user_account', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-17 08:22:51,806 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-17 08:22:51,807 INFO sqlalchemy.engine.Engine [cached since 0.003064s ago] {'table_name': 'address', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-17 08:22:51,807 INFO sqlalchemy.engine.Engine COMMIT

## INSERT

In [9]:
from sqlalchemy import insert
stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants")
print(stmt)
compiled = stmt.compile()
compiled.params

INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)

{'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}

###  commit the insert statement

In [10]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()

2023-03-17 07:57:56,621 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-17 07:57:56,622 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s) RETURNING user_account.id
2023-03-17 07:57:56,622 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}
2023-03-17 07:57:56,623 INFO sqlalchemy.engine.Engine COMMIT

## working with datetime

In [ ]:
import datetime
import pytz

date = datetime.datetime.now( pytz.timezone("US/Pacific") )

In [ ]:
timestamp = datetime.datetime.now( pytz.timezone("US/Pacific"))

with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks", "created_ts": timestamp},
            {"name": "patrick", "fullname": "Patrick Star", "created_ts": timestamp},
        ],
    )
    conn.commit()

## more complex multi-teired insert

In [ ]:
from sqlalchemy import insert
import datetime
import pytz

stmt = insert(user_table).values(name="spongebob", fullname="Spongebob Squarepants", created_ts = datetime.datetime.now( pytz.timezone("US/Pacific") ))

In [ ]:
from sqlalchemy import select, bindparam
scalar_subq = (
    select(user_table.c.id)
    .where(user_table.c.name == bindparam("username"))
    .scalar_subquery()
)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {
                "username": "spongebob",
                "email_address": "spongebob@sqlalchemy.org",
            },
            {"username": "sandy", "email_address": "sandy@sqlalchemy.org"},
            {"username": "sandy", "email_address": "sandy@squirrelpower.org"},
        ],
    )
    conn.commit()

In [ ]:
from sqlalchemy import select
stmt = select(user_table).where(user_table.c.name == "spongebob")
print(stmt)

In [ ]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

In [ ]:
print(select(user_table))

In [ ]:
print(select(user_table.c.name, user_table.c.fullname))

In [ ]:
print(select(user_table.c["name", "fullname"]))

In [ ]:
from sqlalchemy import func, cast
stmt = select(
    ("Username: " + user_table.c.name).label("username"),
).order_by(user_table.c.name)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.username}")

In [ ]:
from sqlalchemy import text
stmt = select(text("'some phrase'"), user_table.c.name).order_by(user_table.c.name)
with engine.connect() as conn:
    print(conn.execute(stmt).all())

In [ ]:
print(stmt)

In [ ]:
from sqlalchemy import literal_column
stmt = select(literal_column("'some phrase'").label("p"), user_table.c.name).order_by(
    user_table.c.name
)
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(f"{row.p}, {row.name}")

## WHERE

In [ ]:
print(user_table.c.name == "sandy")

print(address_table.c.user_id > 10)

In [ ]:
print(
    select(address_table.c.email_address)
    .where(user_table.c.name == "sandy")
    .where(address_table.c.user_id == user_table.c.id)
)

In [ ]:
stmt =  select(address_table.c.email_address).where(
    user_table.c.name == "sandy",
    address_table.c.user_id == user_table.c.id,
)
print(stmt)

In [ ]:
def execute_statement (stmt):
    with engine.connect() as conn:
        for row in conn.execute(stmt):
            print(row)

In [ ]:
print(select(user_table.c.name))

In [ ]:
print(select(user_table.c.name, address_table.c.email_address))

In [ ]:
stmt=select(user_table.c.name, address_table.c.email_address).join(address_table)
print(stmt)

In [ ]:
execute_statement(stmt)

In [ ]:
print(select(user_table.c.name, address_table.c.email_address).join(address_table))

In [ ]:
stmt = select(address_table.c.email_address).select_from(user_table).join(address_table)
print(stmt)

In [ ]:
execute_statement(stmt)

In [ ]:
from sqlalchemy import func
stmt = select(func.count("*")).select_from(user_table)
print(stmt)

In [ ]:
execute_statement(stmt)

In [ ]:
stmt = select(user_table, address_table.c.email_address).join(address_table, isouter=True)
stmt2=select(user_table).join(address_table, full=True)

In [ ]:
execute_statement(stmt)

In [ ]:
execute_statement(stmt2)

---
# Constructor and Destructor practice