---
# ORM Practice
---

## Connect to the database

In [25]:
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.orm import Session

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:aqua666@localhost:5432/practice', echo=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2023-03-15 14:19:09,901 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-15 14:19:09,902 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:19:09,902 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-15 14:19:09,903 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:19:09,903 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-15 14:19:09,904 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-15 14:19:09,904 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:19:09,904 INFO sqlalchemy.engine.Engine select 'hello world'
2023-03-15 14:19:09,904 INFO sqlalchemy.engine.Engine [generated in 0.00090s] {}
[('hello world',)]
2023-03-15 14:19:09,906 INFO sqlalchemy.engine.Engine ROLLBACK

In [26]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String, DateTime

from sqlalchemy.orm import DeclarativeBase
class Base(DeclarativeBase):
    pass

In [27]:
from typing import List
from typing import Optional
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey

class User(Base):
    __tablename__ = "user_account"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]
    created_ts: Mapped[str] = mapped_column(DateTime(timezone=True))
    addresses: Mapped["Address"] = relationship(back_populates="user")
    def __repr__(self) -> str:
        return f"User - (id={self.id!r}, name={self.name!r}, fullname={self.fullname!r}, created={self.created_ts!r})"

class Address(Base):
    __tablename__ = "address"
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id = mapped_column(ForeignKey("user_account.id"))
    user: Mapped[User] = relationship(back_populates="addresses")
    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [28]:
Base.registry

In [29]:
Base.metadata.create_all(engine)

2023-03-15 14:19:13,868 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:19:13,870 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-15 14:19:13,870 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {'table_name': 'user_account', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-15 14:19:13,873 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-15 14:19:13,873 INFO sqlalchemy.engine.Engine [cached since 0.003945s ago] {'table_name': 'address', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-15 14:19:13,874 INFO sqlalchemy.engine.Engine COMMIT

## Working with data

In [30]:
from sqlalchemy import select
stmt = select(User).where(User.name == "spongebob")
with Session(engine) as session:
    for row in session.execute(stmt):
        print(row)

2023-03-15 14:19:16,602 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:19:16,605 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
WHERE user_account.name = %(name_1)s
2023-03-15 14:19:16,606 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {'name_1': 'spongebob'}
(User - (id=1, name='spongebob', fullname='Spongebob Squarepants', created=datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200)))),)
2023-03-15 14:19:16,608 INFO sqlalchemy.engine.Engine ROLLBACK

### Select statements

In [31]:
print(select(User))

SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account

In [32]:
row = session.execute(select(User)).first()
row

2023-03-15 14:23:33,564 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-15 14:23:33,565 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
2023-03-15 14:23:33,565 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {}

(User - (id=1, name='spongebob', fullname='Spongebob Squarepants', created=datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200)))),)

In [33]:
row

(User - (id=1, name='spongebob', fullname='Spongebob Squarepants', created=datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200)))),)

In [34]:
user = session.scalars(select(User)).first()
user

2023-03-15 14:24:50,352 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
2023-03-15 14:24:50,353 INFO sqlalchemy.engine.Engine [cached since 76.79s ago] {}

User - (id=1, name='spongebob', fullname='Spongebob Squarepants', created=datetime.datetime(2023, 3, 15, 14, 13, 22, 865618, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=61200))))

In [35]:
print(select(User.name, User.fullname))

SELECT user_account.name, user_account.fullname
FROM user_account

In [36]:
row = session.execute(select(User.name, User.fullname)).first()
row

2023-03-15 14:26:21,597 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.fullname
FROM user_account
2023-03-15 14:26:21,598 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {}

('spongebob', 'Spongebob Squarepants')

In [37]:
session.execute(
    select(User.name, Address).where(User.id == Address.user_id).order_by(Address.id)
).all()

2023-03-15 14:26:37,144 INFO sqlalchemy.engine.Engine SELECT user_account.name, address.id, address.email_address, address.user_id
FROM user_account, address
WHERE user_account.id = address.user_id ORDER BY address.id
2023-03-15 14:26:37,144 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {}

[('spongebob', Address(id=1, email_address='spongebob@sqlalchemy.org')),
 ('sandy', Address(id=2, email_address='sandy@sqlalchemy.org')),
 ('sandy', Address(id=3, email_address='sandy@squirrelpower.org'))]

In [38]:
print(select(User).filter_by(name="spongebob", fullname="Spongebob Squarepants"))

SELECT user_account.id, user_account.name, user_account.fullname, user_account.created_ts
FROM user_account
WHERE user_account.name = :name_1 AND user_account.fullname = :fullname_1